@import "tailwindcss";

@layer base {
  html, body {
    margin: 0;
    padding: 0;
    background-color: #171717 !important;
  }

  body {
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
  }
}
